<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Eat the Burger!</h1>
      <div id="main">
        {{#each burgers}}
        {{#unless this.devoured}}



        <div class="col-4 text-center">
          {{this.id}}. {{this.burger_name}}
        </div>

        <div class="col-4 text-center">
          <form method="POST" action="/burger/{{this.id}}" class="button">
            <input type="hidden" type="text" name="burger_id" value={{this.id}}>
            <button type="submit" class="btn">Devour!</button>"

          </form>
        </div>

        {{/unless}}
        {{/each}}

      </div>
    </div>

    <div class="col-4 text-center">
      {{#each burgers}}
      {{#if this.devoured}}
      <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}">
      {{/if}}
      {{/each}}
    </div>
  </div>

  <div class="col-4 text-center">
    <form action="/burger/create{{id}}" method="POST">
      <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
      <button type="submit" class="btn" id="enter-button">Submit</button>
    </form>
    <h3>Add your own type of burger</h3>
    <ul>
      <div class="col-4 text-center">{{this.id}} {{burger_name}}</div>


  </div>

  <div class="col-md-4">
    <h1>Devoured!</h1>
    <div id="side">
      {{#each burgers}}
      {{#if this.devoured}}
      <div class="input-group">
        <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Eat</button>
        </span>
      </div>
      {{/if}}
      {{/each}}

    </div>
  </div>


